[submodule "lib/odrparser"]
	path = lib/odrparser
	url = https://github.com/JensKlimke/odrparser.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
