CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-*
backup
.DS_Store
.idea
tests/tracks/*.json
docs/html
docs/latex

